/*HERENCIA*/
body{
    background-color: antiquewhite;
    font-weight: 100; /*ancho de fuente*/
    color:chocolate;
}
a{
    color:inherit; /*se hereda*/
}
/*CASCADA*/
h1{ /*este es uno mas general, pero igual como esta arriba pierde relatividad ya que se obedece al que esta l ultimo*/
    color:black;
    border: 2px solid grey !important;/*el important le da mas importanci*/
}
section h1{ /*section nos ayuda en este caso a especificarlo ya que este h1 esta dentro de un section*/
    color:grey;
    border:2px solid black
}

