/*Las clases que inicien con c en este caso siguen las irdenes*/
[class^="c"]{
    color: green;
}
/*esto es para recordar como se declara una clase*/
.c1{
    color:blue;
}
.c2{
    color: red;
}
/*La clases que terminan con */
[class$="3"]{
    color: yellow;
}
/*Para contener */
[class*=""]{
    color: black;
}