/*Para los selectores de atributos se usa los siguiente [] */
[href]{
    color:red;
    font-size: medium;
}
[href="https://www.youtube.com"]{
    color: white;
    background-color: red;
    border:1px solid black;
}
[href="https://www.facebook.com"]{
    color: white;
    background-color: blue;
    border:1px solid black;
}
[href="https://www.instagram.com"]{
    color: white;
    background-color: pink;
    border:1px solid black;
}
[href="https://www.google.com"]{
    color: white;
    background-color: green;
    border:1px solid black;
}
input[diserable]{
    background-color: grey;
}
