p::first-letter{ /*Primera letra*/
    color:red;
}
p::first-line{ /*Primera line*/
    font-size: medium;
    font-style: italic;
}
p::before{/*Inicio*/
    content:"Hola mundo ";
}
p::after{ /*texto despues*/
    content:".";
    color:red;  
}
p::selection{ /*seleccion de linea*/
    color: white;
    background-color: black;
}
ul li::first-letter{
    color: black;
}
ul li::before{
    content: "[";
}
ul li::after{
    content: "]";
    color: black;
}