/*Asi se crea un comentario en css*/
/*Las clases se declaran de la siguiente manera con un punto*/
.Clase1{
    color: goldenrod;
    font-size: large;
    background-color: black;
}
.Clase2{
    color: silver;
    font-size: medium;
    background-color: black;
}
.Clase3{
    color: burlywood;
    font-size: small;
    background-color: black;
}

